{% extends 'main/base.html' %}
{% block color %}purple{% endblock color %}
{% block title %}
VMS - Products
{% endblock title %}
{% block css %}
<link href="/static/main/css/dataTables.material.min.css" rel="stylesheet" />
<link href="/static/main/css/material.min.css" rel="stylesheet" />
<link href="/static/main/css/typeahead.css" rel="stylesheet" />
{% endblock css %}
{% block heading %}
Add Multiple Components
{% endblock heading %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="purple">
            <h4 class="title">Manage components</h4>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <div id="autocomplete" class="form-group label-floating ">
                      <label >Component</label>
                      <input id="cpe-name" type="text" class="form-control typeahead"/>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating ">
                      <label >CPE URI</label>
                      <input id="cpe" type="text" class="form-control typeahead"  disabled/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group label-floating ">
                      <label >Save Template</label>
                      <input id="template" type="text" class="form-control typeahead" placeholder="Template Name"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <label>Fetch components</label><br>
                <button id="fetch" class="btn btn-info" type="button">Fetch Components</button>
              </div>
              <div class="row">
                <label>Add/Save Components</label><br>
                <button id="add" class="btn btn-success" type="button">Add</button>
                <button id="save" class="btn btn-success" type="button">Save</button>
              </div>
              <div class="row">
                <label>Load/Save Templates</label><br>
                <button id="load-template" class="btn btn-success" type="button">Load</button>
                <button id="save-template" class="btn btn-success" type="button">Save</button>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="dropdown" id="products-dropdown">
                  <label >Select Product</label><br>
                  <button id="product-name" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Select Product
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    {% for i in products %}
                    <li><a href="#" id="{{i.id}}" value="{{i.name}}">{{i.name}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="dropdown" id="servers-dropdown">
                  <label >Select Server</label><br>
                  <button id="server-name" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Select Server
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" id="server-dropdown-area">
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="dropdown" id="templates-dropdown">
                  <label >Select Template</label><br>
                  <button id="template-name" class="btn dropdown-toggle" type="button" data-toggle="dropdown">Select Template
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" id="template-dropdown-area">
                    {% for i in templates %}
                    <li><a href="#" id="{{i.id}}" value="{{i.name}}">{{i.name}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content">
          <table id="data-table" class="mdl-data-table">
            <thead>
              <th>S.No</th>
              <th>Component</th>
              <th>CPE</th>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div id ="editModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-title">Edit Component</h4>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group label-floating ">
                <label >Component</label>
                <input id="edit-cpe-name" type="text" class="form-control" disabled/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group label-floating">
                <label >Version</label>
                <div id="version-drop"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group label-floating ">
              <label >CPE</label>
              <input id="edit-cpe" type="text" class="form-control" disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="save-edits" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<form id="dropdown-form">
  {% csrf_token %}
  <input type='hidden' id="sel-pro" name='product'/>
  <input type='hidden' id="sel-ser" name='server'/>
  <input type='hidden' id="sel-temp" name='template'/>
</form>

{% endblock content%}
{% block javascript %}
<script src='/static/main/js/jquery.dataTables.min.js'></script>
<script src='/static/main/js/dataTables.material.min.js'></script>
<script src='/static/main/js/ellipsis.js'></script>
<script src='/static/main/js/typeahead.bundle.min.js'></script>
<script type="text/javascript">
$("#nav-components").addClass("active");
$(document).ready(function () {
  var tableOptions = {
    dom: 'Bfrtip',
    fnInitComplete: function(oSettings) {
                        $( window ).resize();
                    },
    fnDrawCallback: function(oSettings) {
      $( window ).trigger('resize');
    },
    "scrollX": true,
    "scrollCollapse": true,
    "paging": true,
    columnDefs: [
      {targets: '_all', className: 'mdl-data-table__cell--non-numeric text-center',render: $.fn.dataTable.render.ellipsis( 74)},
      {targets: [0], searchable: false, orderable: false},
      {targets: [3], searchable: false, orderable: false, visible: false}
    ],
  };

  var table = $('#data-table').DataTable(tableOptions);

  table.on( 'draw', function () {
        table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();

  var components = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: "{% url 'components:autocomplete' %}?searchall=%QUERY",
      wildcard: '%QUERY'
    }
  });

  $('#autocomplete .typeahead').typeahead(null, {
    name: 'components',
    display: 'name',
    limit: '1000000',
    source: components
  });

  $('#cpe-name').on('typeahead:selected', function(evt, item) {
    $('#cpe').val(item.cpe);
  });

  $('#cpe-name').on('input',function(){
    $('#cpe').val('');
  });

  $('#add').on('click',function(){
    if($('#cpe').val() == '')
    {
      showNotification('bottom','right','Select a component first!','danger');
      return;
    }
    var newRow = table.row.add(['',$('#cpe-name').val(),$('#cpe').val(),'0']).draw(false).node();
    $(newRow).attr('data-toggle','modal');
    $(newRow).attr('data-target','#editModal');
    $('#cpe').val('');
    $('#cpe-name').val('');
  });

  var triggerRow,currentRow;

  $('#editModal').modal({
      keyboard: true,
      backdrop: "static",
      show:false,
    }).on('shown.bs.modal', function(e){
      triggerRow = $(e.relatedTarget);
      currentRow = table.row(triggerRow).data();
      $('#edit-cpe-name').val(currentRow[1]);
      $('#edit-cpe').val(currentRow[2]);
      $('#edit-cpe-name').attr('placeholder',currentRow[1]);
      $('#edit-cpe').attr('placeholder',currentRow[2]);

      $('#version-drop').html('<input id="edit-version" type="text" class="form-control typeahead"/>');

      $.ajax({
        url : '{% url "components:get_versions" %}',
        type: "POST",
        data: {cpe: currentRow[2], csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val()},
        success: function (data) {

          var versions = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('version'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: data
          });

          $('#version-drop .typeahead').typeahead(null, {
            name: 'versions',
            display: 'version',
            limit: '100',
            minLength: 0,
            source: versions
          });

          $('#edit-version').val(currentRow[2].split(":")[4]);
          $('#edit-version').attr('placeholder',currentRow[2].split(":")[4]);

          $('body').on('typeahead:selected','#edit-version',function(evt, item){
            $('#edit-cpe-name').val(item.name);
            $('#edit-cpe').val(item.cpe);
          });

          $('body').on('input','#edit-version',function(){
            $('#edit-cpe-name').val('');
            $('#edit-cpe').val('');
          });

        },
        error: function (jXHR, textStatus, errorThrown) {
          alert(errorThrown);
        }
      });

  });

  $('body').on('hidden.bs.modal','#editModal',function(){
    $('#version-drop').html('');
    $('#edit-cpe-name').val('');
    $('#edit-cpe').val('');
  });

  $('#save-edits').on('click',function(){
    if($('#edit-cpe').val() === '' || $('#edit-cpe-name').val() === '')
    {
      showNotification('bottom','right','Select a valid version of the component!','warning');
      return;
    }
    table.row(triggerRow).data(['',$('#edit-cpe-name').val(),$('#edit-cpe').val(),currentRow[3]]).draw();
    $('#editModal').modal('hide');
    showNotification('bottom','right','Changes added!','success');
  });

  $("#products-dropdown a").click(function(){
    $('#sel-pro').val($(this).attr('id'));
    $('#product-name').html($(this).attr('value')+' <span class="caret"></span>');
    $('#server-name').html('Select Server <span class="caret"></span>');
    $('#sel-ser').val('');
    $.ajax({
      url : '{% url "components:get_dropdown" %}',
      type: "POST",
      data: $('#dropdown-form').serialize(),
      success: function (data) {
        $('#server-dropdown-area').html(data);
      },
      error: function (jXHR, textStatus, errorThrown) {
        alert(errorThrown);
      }
    });
  });

  $('body').on('click', '#servers-dropdown a', function (){
    $('#sel-ser').val($(this).attr('id'));
    $('#server-name').html($(this).attr('value')+' <span class="caret"></span>');
  });

  $('#fetch').on('click',function(){
    if($('#sel-ser').val() === '')
      showNotification('bottom','right','Select a server first!','danger');
    else{
      $.ajax({
        url : '{% url "components:get_components" %}',
        type: "POST",
        data: $('#dropdown-form').serialize(),
        success: function (data) {
          if(!$.trim(data))
            showNotification('bottom','right','No components in the specified server','warning');
          else {
            data.forEach(function (item) {
              var rows = table.rows().data();
              rows.each(function (value, index) {
                if(value[2] === item.cpe)
                {
                  table.row(index).remove();
                  return false;
                }
              });
              var newRow = table.row.add(['',item.title,item.cpe,item.id]).draw(false).node();
              $(newRow).attr('data-toggle','modal');
              $(newRow).attr('data-target','#editModal');
            });
          }
        },
        error: function (jXHR, textStatus, errorThrown) {
          alert(errorThrown);
        }
      });
    }
  });

  $("#templates-dropdown a").click(function(){
    $('#sel-temp').val($(this).attr('id'));
    $('#template-name').html($(this).attr('value')+' <span class="caret"></span>');
  });

  $('#load-template').on('click',function(){
    if($('#sel-temp').val() === '')
      showNotification('bottom','right','Select a template first!','warning');
    else{
      $.ajax({
        url : '{% url "components:get_template" %}',
        type: "POST",
        data: $('#dropdown-form').serialize(),
        success: function (data) {
          if(!$.trim(data))
            showNotification('bottom','right','Error occured!','warning');
          data.forEach(function (item) {
            var rows = table.rows().data();
            var flag = false;
            rows.each(function (value, index) {
              if(value[2] === item.cpe)
              {
                flag = true;
                return false;
              }
            });
            if(!flag){
              var newRow = table.row.add(['',item.title,item.cpe,'0']).draw(false).node();
              $(newRow).attr('data-toggle','modal');
              $(newRow).attr('data-target','#editModal');
            }
          });
        },
        error: function (jXHR, textStatus, errorThrown) {
          alert(errorThrown);
        }
      });
    }
  });

  $('#save-template').on('click',function(){
    if($('#template').val() === '')
    {
      showNotification('bottom','right','Enter a template name!','warning');
      return;
    }
    if(!table.data().any())
    {
      showNotification('bottom','right','Table empty!','warning');
      return;
    }
    var tableData = JSON.stringify(getTableData(table));
    $.ajax({
      url : '{% url "components:save_template" %}',
      type: "POST",
      data: {"table": tableData, "csrfmiddlewaretoken": $("[name=csrfmiddlewaretoken]").val(),'template': $('#template').val()},
      success: function (data) {
        showNotification('bottom','right',data.message,data.type);
      },
      error: function (jXHR, textStatus, errorThrown) {
        alert(errorThrown);
      }
    });

  });

  $('#save').on('click',function(){
    if($('#sel-ser').val() === '')
    {
      showNotification('bottom','right','Select valid product and server!','warning');
      return;
    }
    if(!table.data().any())
    {
      showNotification('bottom','right','Table empty!','warning');
      return;
    }
    var tableData = JSON.stringify(getTableData(table));
    $.ajax({
      url : '{% url "components:save_components" %}',
      type: "POST",
      data: {"table": tableData, "csrfmiddlewaretoken": $("[name=csrfmiddlewaretoken]").val(),"server": $('#sel-ser').val(),"product": $('#sel-pro').val()},
      success: function (data) {
        showNotification('bottom','right',data.message,data.type);
      },
      error: function (jXHR, textStatus, errorThrown) {
        alert(errorThrown);
      }
    });

  });

});
</script>
{% endblock javascript %}
