amqp==2.3.2
Babel==2.6.0
billiard==3.5.0.3
celery==5.2.2
certifi==2018.4.16
chardet==3.0.4
dj-database-url==0.5.0
Django==2.0.5
django-celery-results==1.0.1
elasticsearch==6.3.0
flower==0.9.2
gunicorn==19.8.1
idna==2.6
kombu==4.2.1
psycopg2-binary==2.7.5
pyparsing==2.2.0
pytz==2018.4
redis==2.10.6
requests==2.18.4
six==1.11.0
SQLAlchemy==1.2.9
tornado==5.0.2
urllib3==1.22
vine==1.1.4
virtualenv==16.0.0
whitenoise==3.3.1
zipfile36==0.1.3
