{% extends 'main/base.html' %}
{% block color %}purple{% endblock color %}
{% block title %}
VMS - Products
{% endblock title %}
{% block css %}
<link href="/static/main/css/dataTables.material.min.css" rel="stylesheet" />
<link href="/static/main/css/material.min.css" rel="stylesheet" />
{% endblock css %}
{% block heading %}
CSV Upload Results
{% endblock heading %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Results</h4>
                <p class="category">Upload results</p>
            </div>
            <div class="card-content">
              <table id="data-table" class="dataTable table table-striped">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Server</th>
                    <th>CPE</th>
                    <th>Title</th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody>
                {% for i in results %}
                  <tr>
                    {% for j in i %}
                    <td {% if j == 'Not found' %}style="color: red;"{% elif j == 'Product not found' %}style="color: red;"{% elif j == 'Server not found' %}style="color: red;"{% elif j == 'Already in DB' %}style="color: purple;"{% elif j == 'Added to DB' %}style="color: #358c17"{% endif %}>{{j}}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock content%}
{% block javascript %}
<script src='/static/main/js/jquery.dataTables.min.js'></script>
<script src='/static/main/js/dataTables.material.min.js'></script>
<script src='/static/main/js/ellipsis.js'></script>
<script type="text/javascript">
$("#nav-components").addClass("active");
$(document).ready(function () {
  $('#data-table').DataTable( {
    "scrollY": "400px",
    "scrollCollapse": true,
    "paging": false,
    "order": [[ 4, 'desc' ],[ 0, 'asc' ],[ 1, 'asc' ],[ 3, 'asc' ]],
    columnDefs: [
      {targets: '_all', className: 'mdl-data-table__cell--non-numeric'},
      {targets: [4], searchable: false},
      {targets: [2],render: $.fn.dataTable.render.ellipsis(40)},
      {targets: [3],render: $.fn.dataTable.render.ellipsis(40)}
    ]
  });
});
</script>
{% endblock javascript %}
