{% extends 'main/base.html' %}
{% block color %}purple{% endblock color %}
{% block title %}
VMS - Servers
{% endblock title %}
{% block css %}
<link href="/static/main/css/dataTables.material.min.css" rel="stylesheet" />
<link href="/static/main/css/material.min.css" rel="stylesheet" />
{% endblock css %}
{% block heading %}
Manage servers
{% endblock heading %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8" id="alerts"></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
          <div class="card-header" data-background-color="purple">
              <h4 class="title">Add Server</h4>
              <p class="category">
              Enter Server Details
              </p>
          </div>
          <div class="card-content">
              <form id="add-server" action="" method="POST" class="form">
                <input type="hidden" id="selected-product" name="product"/>
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="dropdown" id="products-dropdown">
                        <button id="product-name" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Product
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          {% for i in products %}
                          <li><a href="#" id="{{i.id}}" value="{{i.name}}">{{i.name}}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group label-floating">
                              <input name='server' id="server" type="text" class="form-control" placeholder="Enter Server Name"/>
                          </div>
                      </div>
                  </div>

                  <button id="add-server-button" type="submit" class="btn btn-primary pull-right" id="submit-button" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Updating" >Add Server</button>
                  <div class="clearfix"></div>
              </form>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
          <div class="card-header" data-background-color="purple">
              <h4 class="title">Add Servers from CSV</h4>
              <p class="category">
              Upload CSV File
              </p>
          </div>
          <div class="card-content">
              <form id="file-query" action="{% url 'products:add_server' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row">
                      <div class="col-md-12">
                              <input type="file" name="file_location" id="file_location"/>
                      </div>
                  </div>

                  <button type="submit" class="btn btn-primary pull-right" id="file-button" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Updating" >Add From File</button>
                  <div class="clearfix"></div>
              </form>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h4 class="title">Servers</h4>
          <p class="category">View and delete servers</p>
        </div>
        <div class="card-content">
          <form id="delete-form" method="POST" action="">
            {% csrf_token %}
            <button type="button" class="btn btn-danger pull-left" id="delete-button" data-toggle="modal" data-target="#confirmationModal">Delete</button>
            <table id="data-table" class="mdl-data-table">
              <thead>
                <tr>
                  <th>Select</th>
                  <th>Server ID</th>
                  <th>Name</th>
                  <th>Product Name</th>
                  <th>Number of components</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="Are you sure" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Do you want to delete the selected items?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Go back</button>
                    <button type="submit" class="btn btn-danger" id="delete-confirm">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<form id="dropdown-form">
  {% csrf_token %}
  <input type='hidden' id="sel-pro" name='product'/>
</form>
{% endblock content%}
{% block javascript %}
<script src='/static/main/js/jquery.dataTables.min.js'></script>
<script src='/static/main/js/dataTables.material.min.js'></script>
<script src='/static/main/js/ellipsis.js'></script>
<script type="text/javascript">
$("#nav-servers").addClass("active");
$(document).ready(function () {
  tableOptions = {
    ajax: "{% url 'products:get_table' %}?server",
    "scrollY":        "200px",
    "scrollCollapse": true,
    "paging": false,
    "order": [[ 3, 'asc' ], [ 1, 'asc' ], [ 2, 'asc' ]],
    columnDefs: [
      {targets: '_all', className: 'mdl-data-table__cell--non-numeric'},
    ]
  };
  var table = $('#data-table').DataTable(tableOptions);

  {% if deleted %}
  showNotification('bottom','right','{{message}}','success');
  {% endif %}

  $("#products-dropdown a").click(function(){
    $('#selected-product').val($(this).attr('id'));
    $('#product-name').html($(this).attr('value')+' <span class="caret"></span>');
  });


  $('body').on('submit', '#add-server', function (e){
    e.preventDefault();
    $('#add-server-button').button("loading");
    if($('#server').val() == '' || $('#selected-product').val() == '')
    {
      showNotification('bottom','right',"Select a product and enter a server name!",'danger');
      $('#add-server-button').button("reset");
    }
    else {
      $.ajax({
        url : '{% url "products:add_server" %}',
        type: "POST",
        data: $(this).serialize(),
        success: function (data) {
          $('#add-server-button').button("reset");
          showNotification('bottom','right',data,'success');
          table.ajax.reload();
          $('#server').val('');
        },
        error: function (jXHR, textStatus, errorThrown) {
          alert(errorThrown);
          $('#add-server-button').button("reset");
        }
      });
    }
  });
});
</script>
{% endblock javascript %}
